:root {
    /* --dark-color:  #641616; 
    --dark-light: #901414;
    --light-color: #eecaca; 
    --light-light: #fbe8e8; */

    --dark-color:  #a85d11ee; 
    --dark-light: #d3760dee;
    --light-color: #edddb5ee; 
    --light-light: #f8ebc9ee;


    --font-family: "Palatino Linotype", "Palatino", "Book Antiqua", serif;
    --font-code: "Monaco", monospace;
}